body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

#Username, #Password {
    align-self: center;
}

input {
    width: 100px;
    align-self: center;
}