{% extends "base.html" %}

{% block content %}

<h1>Searching by {{criteria.capitalize()}}</h1>
<form action="/species/results" id="search_form" method="post">
    <label for="search_criteria">Possible options for {{criteria.capitalize()}}: </label>
    <input type="hidden" name ="search_criteria" value={{criteria}}>
    <select name="search_options" id="search_options">
        {% for row in results %}
        <option value="{{row}}">{{row}}</option>
        {% endfor %}
    </select>
    <input type="submit" class="search_submit" value="Search">
</form>

{% endblock %}