{% extends "base.html" %}

{% block content %}
<div class="title">    
    <h3>{{species.name}}</h3>
</div>
<div class="subtitle">
    <h4>Subcategory: {{species.subcategory.name}}</h4>
</div>
<div class="details">
    <p>Difficulty: {{species.difficulty}}</p>
    <p>Current stock: {{species.stock_no}}</p>
    <p>Buying Price: £{{species.buying_price}}</p>
    <p>Selling Price: £{{species.selling_price}}</p>

    {% if species.active == True %}
        <i class="fas fa-check-square" style="color:green">Active</i>
    {% else %}
        <i class="far fa-times-circle" style="color:red">Inactive</i>
    {% endif %}
</div>
<div class="edit_button">
    <a href="/species/{{species.name}}/edit" id="edit_button">Edit Species</a>
</div>
{% endblock %}