{% extends "base.html" %}

{% block content %}

<!-- <a href="/new/category">New Category</a>
<a href="/new/subcategory">New Subcategory</a>
<a href="/new/species">New Species</a> -->


<div class="cards">
    <ul class="home_buttons">
        <li>
            <a href="/new/category" class="link_card">
                <p>New Category</p>
            </a>
        </li>
        <li>
            <a href="/new/subcategory" class="link_card">
                <p>New Subcategory</p>
            </a>
        </li>
        <li>
            <a href="/new/species" class="link_card">
                <p>New Species</p>
            </a>
        </li>
    </ul>
</div>

{% endblock %}